<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'mk_portfolio/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mk_portfolio/css/custom.css' %}">
</head>

<body style="background-image: url('/static/mk_portfolio/background.jpg');background-repeat: no-repeat; background-size: cover;height: 100vh;">
    <div class = "container-fluid">
            <div class = "mt-4 d-flex justify-content-center fixed">
                <div class="square-box">
                    <div class = "image-border">
                        <img class = "img-indent" src = "/static/mk_portfolio/close.png">
                        <img class = "img-indent" src = "/static/mk_portfolio/yellow.png">
                        <img class = "img-indent" src = "/static/mk_portfolio/green.png">
                    </div>
                    <div class="typing-container"> Karthik.io:~ <span id="sentence" class="sentence"> </span>
                    <span class="input-cursor"></span></div>
                </div>
            </div>
            </div>
    </div>
</body>
<script src="{% static 'mk_portfolio/js/jquery.min.js' %}"></script>
<script src="{% static 'mk_portfolio/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mk_portfolio/js/custom.js' %}"></script>