<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'mk_portfolio/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mk_portfolio/css/custom.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-image: url('/static/mk_portfolio/background.jpg');background-repeat: no-repeat; background-size: cover;height: 100vh;">
    <div class = "container-fluid">
            <div class = "mt-4 d-flex justify-content-center">
                <div class="square-box position-fixed">
                    <div class = "image-border">
                        <img class = "img-indent" src = "/static/mk_portfolio/close.png">
                        <img class = "img-indent" src = "/static/mk_portfolio/yellow.png">
                        <img class = "img-indent" src = "/static/mk_portfolio/green.png">
                    </div>
                    <div class="typing-container"> Karthik.io:~ <span id="sentence" class="sentence"> </span>
                    <span class="input-cursor"></span></div>
                </div>
            </div>
            
    <section class="section" id="section1">Section 1</section>
    <section class="section" id="section2">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-12">
            <div id="content">
              <ul class="timeline-1 text-black">
                  {% for yr, org, title in grand %}
                  <li class="event" id="fadein-{{ forloop.counter }}">
                  <div class="circle" id="pulse-{{ forloop.counter }}"></div>
                  <h5 class="mb-3">{{ yr }}</h5>
                  <h5 class="mb-3 org">{{ org }}</h5>
                  <h5 class = "border-bottom border-white mb-5 pb-3">{{ title }}</h5>
                </li>
                  {% endfor %}
              </ul>
              </div>
          </div>
          </div>
      </div>
    </section>
    <section class="section" id="section3">Section 3</section>
  </div>
</body>
<script src="{% static 'mk_portfolio/js/jquery.min.js' %}"></script>
<script src="{% static 'mk_portfolio/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mk_portfolio/js/custom.js' %}"></script>