.square-box{
   height: 100px;
   width: 650px;
   border: 2px solid rgb(186, 181, 181);
   background-color: rgb(232, 226, 226);
   border-radius: 20px;
   z-index: 1000;
   max-width: 90%;
   max-width: 350px;
}

.image-border{
    border-bottom: 2px solid rgb(170, 157, 157);
    background-color: rgb(86, 81, 81);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 30px;
}

.img-indent{
    height: 15px;
    margin-left: 10px;
}

.typing-container {
    margin-top: 15px;
    padding-left: 9px;
    font-family: sans-serif;
    font-weight:600;
    margin-left: 5px;
}
.input-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: rgb(177, 163, 163);
}

.align-row {
    margin-top: 40px;
    margin-left: 10px;
}


@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor { 
  animation: blink .6s linear infinite alternate;
}

html, body {
    height: 100%;
    overflow: hidden;
  }

.section {
    height: 100vh;              /*Full viewport height*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: black;
    font-family: sans-serif;
  }

  

#section1 { color: white; } 

.timeline-1 { 
  border-left: 3px solid rgb(245, 243, 243);
  max-height: 450px;
  margin-top: 200px;
  color: white;
  font-family: sans-serif;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(50, 48, 48, 0.159);
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-size: medium;
  max-width: 90%;
  max-width: 350px;
 }
 
 .event {
  position: relative;
  margin: 20px 0; 
  padding-left: 40px; 
  opacity: 0;
}
.event-animation{
  animation: fadeInUp 0.5s forwards;
}
 .circle {
    position: absolute;
    left: -59px; 
    top: 10px;
    width: 16px;
    height: 16px;
    background-color: #636060; 
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
  .circle-animation {
    animation: pulse 1s infinite;
  }

  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(70px);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1); 
  }
  50% {
      transform: scale(1.4); 
  }
}

.org {
  background-color: rgb(106, 102, 102);
  justify-content: center;
}

.cert {
  margin-left: 150px;
}
.cert1 {
  height: 280px;
  width : 280px;
  justify-content: center;
  opacity: 0;
  /* margin-left: 300px; */
}

.cert2 {
  height: 280px;
  width : 280px;
  opacity: 0;
  /* margin-right: 20px; */
}

.cert3 {
  height: 270px;
  width: 240px;
  opacity: 0;
}

.cert-animation{
  animation: fadeInUp 1.0s forwards;
}