html, body {
  height: 100%;
  overflow:hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media (max-width:920px) {
  html, body {
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  .section {
    height: 100vh;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snapy {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
body.loaded #preloader {
  opacity: 0;
  visibility: hidden;
}

.square-box{
   height: 90px;
   width: 400px;
   border: 2px solid rgb(186, 181, 181);
   background-color: rgb(232, 226, 226);
   border-radius: 20px;
   z-index: 1000;
   max-width: 90%;
   /* max-width: 1000px; */
}

.image-border{
    border-bottom: 2px solid rgb(249, 178, 153);
    background-color: rgba(249, 179, 153, 0.636);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 30px;
    margin-left: -11px;
    margin-right: -11px;
}

.img-indent{
    height: 15px;
    margin-left: 10px;
}

.typing-container {
    margin-top: 15px;
    padding-left: 9px;
    font-family: sans-serif;
    font-weight:600;
    margin-left: 5px;
}
.input-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: rgb(248, 110, 110);
}

.align-row {
    margin-top: 40px;
    margin-left: 10px;
}


@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor { 
  animation: blink .6s linear infinite alternate;
}

.section {
    height: 100vh;             
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: black;
    font-family: sans-serif;
    scroll-snap-align: start;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  

#section1 { color: white; } 

.timeline-1 { 
  border-left: 3px solid rgb(245, 243, 243);
  max-height: 450px;
  margin-top: 200px;
  color: white;
  font-family: sans-serif;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(42, 41, 41, 0.159);
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-size: medium;
  max-width: 90%;
  max-width: 350px;
 }
 
 .event {
  position: relative;
  margin: 20px 0; 
  padding-left: 40px; 
  opacity: 0;
}
.event-animation{
  animation: fadeInUp 0.5s forwards;
}
 .circle {
    position: absolute;
    left: -59px; 
    top: 10px;
    width: 16px;
    height: 16px;
    background-color: #535050; 
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
  .circle-animation {
    animation: pulse 1s infinite;
  }
  
  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(70px);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1); 
  }
  50% {
      transform: scale(1.4); 
  }
}

.org {
  background-color: rgb(49, 47, 47);
  justify-content: center;
}

.cert {
  margin-top: 90px;
}
.cert1 {
  max-height: 340px;
  max-width : 260px;
  opacity: 0;
  /* margin-left: 300px; */
}

.cert2 {
  max-height: 340px;
  max-width : 260px;
  opacity: 0;
  /* margin-right: 20px; */
}

.cert3 {
  max-height: 300px;
  max-width: 235px;
  opacity: 0;
}

@media (max-width: 920px) {
  .cert1 {
    max-height: 150px;
    max-width : 180px;
    opacity: 0;
    /* margin-left: 300px; */
  }
  
  .cert2 {
    max-height: 150px;
    max-width : 175px;
    opacity: 0;
    /* margin-right: 20px; */
  }
  
  .cert3 {
    max-height: 150px;
    max-width : 160px;
    opacity: 0;
  }
}


.cert-animation{
  animation: fadeInUp 1.0s forwards;
}

.profile {
  padding-left: 50px;
}

@media (max-width: 940px){
  .profile-pic {
    height: 270px;
    width: 270px;
    margin-top: 50px;
    /* margin-left: 1px; */
  }
  .welcome-header {
    margin-top: 1px;
    font-size: 50px !important;
    line-height: 50px !important;
  }
  .welcome-foot {
    font-size: 20px !important;
    line-height: 30px !important;
    font-family: sans-serif;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
  }
  .welcome-desc {
    line-height: 30px !important;
    font-size: 20px !important;
    font-family: sans-serif;
    margin-bottom: -25px !important;
  }
  
  .welcome-place {
    line-height: 30px !important;
    font-size: 20px !important;
    font-family: sans-serif;
  }

}

.welcome-header {
  font-size: 70px;
  font-family: Space Grotesk;
  line-height: 100px;
  margin-top: 100px;
}

.welcome-foot {
  font-size: 32px;
  line-height: 70px;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
}


.welcome {
  stroke:rgb(240, 162, 150);
  stroke-width: 2;
  stroke-dasharray: 1719.6107177734375;
  stroke-dashoffset: 1719.6107177734375;
  animation: write 4s forwards;
}

@keyframes write {
  from {
    fill: none;
  }
  to {
    stroke-dashoffset: 0;
    fill: rgb(244, 158, 144);
  }
}
.welcome-desc {
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
}

.welcome-place {
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
}

.profile {
  animation: fadeInUp 1.0s forwards;
}

.skill {
  opacity: 0;
  font-size: 3rem;
}

.icon-name {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  opacity: 0;
  /* margin-right: 20px;
  padding-right: 15px; */
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px 0;
}


.skill-animation {
  animation: fadeInUp 1.0s forwards;
}

.mr-skill {
  margin-left: 80px;
  margin-top: 30px;

}

@media (max-width: 915px) {
  .skill {
      font-size: 1rem !important;
  }

  .mr-skill {
    margin-top: 90px !important;
  }
  .col-skill {
    margin-top: -10px !important;
  }

  .icon-name {
      font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .skill {
      font-size: 2rem;
  }

  .icon-name {
      font-size: 0.75rem;
      margin-top: 5px;
  }
  .mr-skill {
    margin-left: 60px;
  }
}


.card {
  width: 18rem;
  height: 23rem;
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  margin-top: 70px;
  margin-left: 70px;
  opacity: 0;
}

.card-text {
  font-size: 20px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img-top {
  height: 180px;
  padding: 10px;
  border-radius: 30px;
  transition: transform .4s;
}

@media (max-width:915px) {
  .card {
    width: 9rem;
    height: 11.8rem;
    background-color: rgb(12, 12, 12);
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 90px;
    opacity: 0;
  }
  
  .card-text {
    font-size: 11px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .card-img-top {
    height: 75px;
    padding: 10px;
    border-radius: 30px;
    transition: transform .4s;
  }
  .card-row {
    margin-top: 60px;
  }
  .card-body {
    padding-top: 1px;
  }
  .stacks {
    margin-top: 0.1px;
  }
}


.card:hover .card-img-top {
  transform: scale(0.9);
}

.stack {
  width: 1.25rem;
  transition: transform .4s;
}

.stack:hover{
 transform: translateY(-.25rem);
}

.stacks{
  width: max-content;
  height: 34px;
  background-color: black;
  padding-inline: .75rem;
  display: flex;
  align-items: center;
  column-gap: .75rem;
  border-radius: 4rem;
  margin-bottom: 1.5rem;
}

.scroller {
  opacity:0
}
#scroll {
  animation: bounce 1.0s infinite;
}

@keyframes bounce {
from {
  transform: translate3d(0, 0, 0);
}

to {
  transform: translate3d(0, 15px, 0);
}
}

.contacts1 {
  font-size: 80px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contacts1:hover {
  box-shadow: 0 0 20px 5px white;
  transform: scale(1.05);
}

.contacts2 {
  font-size: 80px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contacts2:hover {
  box-shadow: 0 0 20px 5px white;
  transform: scale(1.05);
}